<style>
  * {
    box-sizing: border-box;
  }

  .links {
    text-align: center;
    font-size: 28px;
    margin: 0;
    background-color: #52c8da;
    padding-top: 50px;
  }
  a.up {
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    line-height: 5px;
    border-radius: 4px;
  }
  @media screen and (max-width: 500px) {
    a.up {
      float: none;
      display: block;
      text-align: left;
    }
  }
</style>

<body class="bottom">
  <div class="links">
    <a class="up" href="\">up</a>
    <br />
    <br />
  </div>
</body>
