{% include "registrar/index.html" %}

<style>
  .main {
    margin-left: 200px;
    font-size: 28px;
    padding: 0px 10px;
  }
  input[type="text"],
  select {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type="submit"] {
    width: 100%;
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #45a049;
  }

  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  h2{
    text-align: center;
  }
</style>

<div class="main">
  <h2>Period: </h2>
  <form action="" method="post">
    {% csrf_token %} {% for field in form %}

    <span> {{field.errors}} </span>

    <label> {{field.label_tag}} </label>
    <div>{{field}}</div>

    {% endfor %}

    <div>
      <button type="submit">submit</button>
    </div>
  </form>
</div>