{% include 'homepage/temp.html' %}

<style>
  .main {
    font-size: 20px;
  }

  h3.title {
    font-size: 22px;
    margin: 10px;
  }
  .box {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0%;
    margin-bottom: 0%;
  }
  p {
    margin: 0%;
  }

  .header a.home {
    background-color: dodgerblue;
    color: white;
    border: 2px solid blue;
  }
</style>

<div class="main">
  <br />
  <h3 class="title">Judiciary of India</h3>
  <br />
  <div class="box">
    <p>
      The Indian Judiciary is a system of courts that interpret and apply the
      law in the
      <a href="https://en.wikipedia.org/wiki/India">Republic of India</a> . It
      uses a common law system, inherited from the legal system established by
      former colonial powers and
      <a href="https://en.wikipedia.org/wiki/Princely_state">princely states</a>
      , as well as certain practices from ancient and medieval times.
    </p>
    <br />
    <p>
      The Indian judicial system is managed and administrated by officers of
      judicial service, those intended to fill the post of district judge and
      other civil judicial posts inferior to district judge. Previously, the
      judicial system included civil service officers. Judges of Subordinate
      Judiciaries are appointed by the governor on recommendation by the High
      Court. Judges of the High Courts and
      <a href="https://en.wikipedia.org/wiki/Supreme_Court_of_India"
        >Supreme Court</a
      >
      are appointed by the President of India on the recommendation of a
      collegium.
    </p>
    <br />
    <p>
      The judicial system of India is classified into three levels with
      subsidiary parts. The Supreme Court, also known as the Apex Court, is the
      top court and the last appellate court in India. The Chief Justice of
      India is its top authority. High Courts are the top judicial bodies in the
      states, controlled and managed by Chief Justices of States. Below the High
      Courts are District Courts, also known as subordinate courts, that are
      controlled and managed by the District and Sessions Judges. The
      subordinate court system is divided into two parts: the civil court of
      which a Sub-Judge is the head followed by the District Munsif court at the
      lower level; and the criminal court headed by Chief Judicial/Metropolitan
      Magistrate at top and followed by ACJM /ACMM & JM/MM at the lower level.
    </p>
    <br />
    <p>
      The other courts are the executive and revenue courts, which are managed
      and controlled by the state government through the district magistrate and
      commissioner, respectively. Although the executive courts are not part of
      the judiciary, various provisions and judgements empower the High Courts
      and the Session Judges to inspect or direct the working of executive
    </p>
    <br />
    <p>
      The Ministry of Law & Justice at the Union level is responsible for
      raising issues before Parliament for the proper functioning of the
      judiciary. It has complete jurisdiction to deal with the issues of any
      courts of India, from the Supreme Court to Subordinate and Executive
      Courts. It also deals with the appointment of Judges of the High Courts
      and the Supreme Court. At the state level, the law departments of the
      states deal with issues regarding the High Court and the Subordinate
      Courts. The constitution provides for a single unified judiciary in India.
    </p>
    <br />
  </div>
  <h3 class="title">The Constitution and the Judiciary</h3>
  <br />
  <div class="box">
    <p>
      The Indian Constitution empowers the Judiciary to act as the Guardian of
      the Law. There are a number of provisions that deal with the Indian
      Judiciary's role, power, function, and appointment of officers. Under the
      Constitution, the major provisions are: <br />
      <br />
      &nbsp; &nbsp; • Part V - Chapter IV - Deals with Union Judiciary i.e.,
      Supreme Court - appointment & removal, role & function <br />
      &nbsp; &nbsp; • Part VI - Chapter V - Deals with High Court - appointment &
      removal, role & function <br />
      &nbsp; &nbsp; • Part VI - Chapter VI- Deals with Subordinate Courts -
      appointment & removal, role & function <br />
      &nbsp; &nbsp; • Article 50 - Independence of Judiciary - separates judiciary
      from executive branch <br />
      &nbsp; &nbsp; • Other provisions are also under various parts and articles
      that deals with the court's responsibilities. <br />
      <br />
      The judiciary acts as the final arbiter on legal matters. The Inner
      Conflict of Constitutionalism: Judicial Review and the 'Basic Structure' -
      India's Living Constitution: Constitution, acts as its watchdog by calling
      for scrutiny any act of the legislature or the executive from overstepping
      bounds set for them by the Constitution. It acts as a guardian in
      protecting the fundamental rights of the people, as enshrined in the
      Constitution, from infringement by any organ of the state. It also
      balances the conflicting exercise of power between the centre and a state
      or among states, as assigned to them by the Constitution. <br />
      <br />
      While pronouncing decisions under its constitutional mandate, it is
      expected to remain unaffected by pulls and pressures exerted by other
      branches of the state, citizens or interest groups. Independence of the
      judiciary has been held to be a basic and inalienable feature of the
      Constitution,This independence is reflected in that no minister can
      suggest a name to the President, who ultimately decides on appointing
      judges from a list of names recommended by the collegium of the judiciary.
      Judges of the Supreme Court or a High Court also cannot be removed from
      office once appointed, unless a two-thirds majority of members of any of
      the Houses of the Parliament back the move on grounds of proven misconduct
      or incapacity. A person who has been a judge of a court is disbarred from
      practising in the jurisdiction of that court [citation needed]. The
      judiciary is making efforts to computerise. E-courts in India
    </p>
    <br>
  </div>
  <h3 class="title">History</h3>
  <br />
  <div class="box">
    <p>
      The history of jury trials in India dates back to the period of European
      colonization. In 1665, a petit jury in Madras composed of twelve English
      and Portuguese jurors acquitted Mrs. Ascentia Dawes, who was on trial for
      the murder of her enslaved servant. During the period of Company rule in
      India, jury trials within dual-court system territories were implemented
      in Indian territories under East India Company (EIC) control. In
      Presidency towns (such as Calcutta, Bombay, and Madras), Crown Courts
      employed juries to judge European and Indian defendants in criminal cases.
      Outside of Presidency towns, Company Courts staffed by EIC officials
      judged both criminal and civil cases without the use of a jury.
    </p>
    <br />
    <p>
      In 1860, after the British Crown assumed control over the EIC's
      possessions in India, the Indian Penal Code was adopted. A year later, the
      Code of Criminal Procedure was adopted. These new regulations stipulated
      that criminal juries were only mandatory in the High Courts of Presidency
      towns; in all other parts of British India, they were optional and rarely
      utilized. In cases where the defendants were either European or American,
      at least half of the jury was required to be European or American men,
      with the justification given that juries in these cases had to be
      "acquainted with [the defendant's] feelings and dispositions."
    </p>
    <br />
    <p>
      During the 20th century, the jury system in British India came under
      criticism from both colonial officials and independence activists. The
      system received no mentions in the 1950 Indian Constitution and frequently
      went unimplemented in many Indian legal jurisdictions after independence
      in 1947. In 1958, the Law Commission of India recommended its abolition in
      the fourteenth report that the commission submitted to the Indian
      government. Jury trials in India were gradually abolished during the
      1960s, culminating with the 1973 Criminal Procedure Code, which remains in
      effect in the 21st century.
    </p>
    <br />
  </div>
</div>

{% include 'homepage/bottom.html' %}







